:root{
  background-color: #6c63ff;
}
.bg-1{
    position: relative;
 }
 .text-layer{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    /* non-critical styles left out */
 }

 .masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 55rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.067) 0%, rgba(255, 255, 255, 0.158) 75%, rgb(255, 255, 255) 100%), url("/Static/imgs/ice-blue.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.about-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 55rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(228, 228, 228, 0.158) 0%, rgba(228, 228, 228, 0.571) 75%, rgb(228, 228, 228) 100%);
}

.plans-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 55rem;
  padding: 15rem 0;
  background: rgb(228, 228, 228);
  
}

.footer{
  background: rgb(228, 228, 228);
}

 html::-webkit-scrollbar {
    width: 10px;
  }

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
  }

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
  }